@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: var(--font-lexend);
}

@layer utilities {
}

@layer base {
  :root {
    --background: 0, 0%, 100%;
    --foreground: 248.57deg 14.29% 9.61%;
    --card: 0, 0%, 100%;
    --card-foreground: 248.57deg 14.29% 9.61%;
    --popover: 0 0% 100%;
    --popover-foreground: 248.57deg 14.29% 9.61%;
    --radius: 0.4rem;
    --sidebar-background: 240, 11%, 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 247, 53%, 96%;
    --sidebar-accent-foreground: 252, 88%, 64%;
    --sidebar-footer-background: 240, 6%, 97%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 248.57deg 14.29% 9.61%;
    --foreground: 0, 0%, 100%;
    --card: 248.57deg 14.29% 9.61%%;
    --card-foreground: 0, 0%, 100%;
    --popover: 248.57deg 14.29% 9.61%;
    --popover-foreground: 0, 0%, 100%;
    --sidebar-background: 248, 13%, 13%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 249, 18%, 15%;
    --sidebar-accent-foreground: 252, 88%, 64%;
    --sidebar-footer-background: 249, 9%, 15%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border font-lexend;
  }

  body {
    @apply bg-background text-foreground font-lexend;
  }

  a {
    @apply text-primary text-sm leading-[22px] font-light;
  }
}

@layer utilities {
  .heading-1 {
    @apply text-[80px] leading-[100px];
  }

  .heading-2 {
    @apply text-[60px] leading-[75px];
  }

  .heading-3 {
    @apply text-[40px] leading-[50px];
  }

  .heading-4 {
    @apply text-[30px] leading-[40px];
  }

  .heading-5 {
    @apply text-2xl leading-[40px];
  }

  .heading-6 {
    @apply text-xl leading-[30px];
  }

  .heading-7 {
    @apply text-lg leading-[26px];
  }

  .body-1 {
    @apply text-base leading-[24px];
  }

  .body-2 {
    @apply text-sm leading-[22px];
  }

  .caption {
    @apply text-xs leading-[18px];
  }

  .label {
    @apply text-[11px] leading-[16px];
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
